{
  // admin 0.0.0.0:2019

  metrics {
		per_host
	}
}

*.{$DOMAIN} {
  tls {
    dns cloudflare {env.CF_API_TOKEN}
    propagation_delay 2m
    resolvers 1.1.1.1
  }

  @caddy host static.{$DOMAIN}
  handle @caddy {
    root * /srv
    file_server
  }
}