# Gitea Actions Runner Configuration

# Enable the actions runner
enabled: true

# Configure the StatefulSet
statefulset:
  replicas: 2
  
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 2Gi
  
  # Act Runner container overrides
  actRunner:
    tag: 0.2.13
    
    # Custom runner configuration
    config: |
      log:
        level: info
      cache:
        enabled: true
      runner:
        name: "homelab-k8s-runner"
        labels: 
          - "homelab-latest:docker://gitea.home.jasongodson.com/homelab/actions-runner:latest"
          - "host-docker:host"
        capacity: 1

  # Storage override
  persistence:
    size: 20Gi

# Gitea connection configuration
giteaRootURL: "https://gitea.home.jasongodson.com"
existingSecret: "gitea-runner-token"
existingSecretKey: "token"

# Docker registry auto-login configuration
# This will make the act-runner automatically login to your private registry on startup
# This is custom added to StatefulSet after cloning the helm-actions repo by the deploy-runners.sh script
dockerRegistry:
  enabled: true
  url: "gitea.home.jasongodson.com"
  existingSecret: "gitea-docker-registry-creds"
  usernameKey: "username"
  passwordKey: "password"

# Global overrides
global:
  storageClass: "ceph-rbd"